<h1 class="text-center">List of Jobs have keywords analysis </h1>
<br />
<div class="card  col-md-6">
    <div class="card-block ">
        <h4 class="card-title">
            <NavLink class="nav-link text-center" href="All">
                Software Engineer
                <span class="oi " aria-hidden="true"></span>
            </NavLink>
        </h4>
    </div>
</div>